<!DOCTYPE html>
<html>
<head>
  <title>Michael Jackson - Works</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Michael Jackson</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/works">Works</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h1 class="mt-5">Michael Jackson's Renowned Works</h1>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="/images/thriller.jpg" class="card-img-top" alt="Thriller">
          <div class="card-body">
            <h5 class="card-title">Thriller</h5>
            <p class="card-text">Released in 1982, Thriller is one of the best-selling albums of all time, featuring iconic hits like "Thriller," "Beat It," and "Billie Jean."</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="/images/billie_jean.jpg" class="card-img-top" alt="Billie Jean">
          <div class="card-body">
            <h5 class="card-title">Billie Jean</h5>
            <p class="card-text">Billie Jean, released in 1982, is one of Michael Jackson's most popular and influential songs, known for its iconic bass line and dance moves.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="/images/smooth_criminal.jpg" class="card-img-top" alt="Smooth Criminal">
          <div class="card-body">
            <h5 class="card-title">Smooth Criminal</h5>
            <p class="card-text">Smooth Criminal, released in 1987, is a popular song from the Bad album and is known for its distinctive bass line and its accompanying anti-gravity lean dance move.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
